.green {
  height: 100px;
  width: 100px;
  background-color: green;
  opacity: 50%;
}

.yellow {
  height: 100px;
  width: 100px;
  background-color: yellow;
  opacity: 50%;
}

.red {
  height: 100px;
  width: 100px;
  background-color: red;
  opacity: 50%;
}

.active {
  opacity: 100%;
}
